/* h1{
    font-family: "Roboto Condensed", serif;
} */
 

/* NORMALIZACION */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
    list-style: none;
    text-decoration: none;
    color: white;
}


/* HEADER Y NAV */
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 700;
}

.navlist{
    display: flex;
}

.navlist a {
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.5 ease 0s;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

/* CLICKEABLE EL MENU PARA CELULAR */
#menu-icon{
    display: none;
}

#menu-icon{
    font-size: 35;
    z-index: 100;
    cursor: pointer;
}

#menu-toggle{
    display: none;
}

.menu-icon-action{
    display: none;
}

/* HERO */

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 8%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1{
    font-family: "Sixtyfour", serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0 0 30px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 80%;
    line-height: 1.9;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-img img {
    width: 400px;
    margin: 10% 0 0 10% ;
    height: auto;
    transition: all 3s linear;
}

.hero-img img:hover{
    width: 450px;
    opacity: 0.6;
}

.hero-text a {
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
} 

.hero-text a.git{
    background-color: transparent;
    border: 1px solid grey;
    margin-left: 20px;
}

.hero-text a.git i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.icons i:hover{
    color: #4d4d4d; 
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 30px;
    background-color: #21383d;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.scroll-down i:hover{
    transform: translate(0, -5px);
}

/* FOOTER */
footer {
    z-index: 10; 
    display: flex;
    justify-content: space-around;
    padding: 15px 3%;
    background-color: black;
}

.contact-form {
    background: #131313;
    border-radius: 10px;
    position: relative;
    width: 350px;
    display: flex; /* Cambiamos de grid a flex */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar los hijos horizontalmente */
    gap: 1rem; /* Espacio entre los elementos */
    transition: all .5s linear;
    margin: 0 auto; /* Centra el contenedor dentro de su contenedor padre */
}

.contact-form:hover {
    width: 370px;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 10px;
    background: #131313;
    border: 1px solid #4d4d4d;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    transition: all .5s ease;
}

.contact-form textarea{
    margin: 20px 0;
    resize: none;
    height: 100px;
}

.contact-form h3{
    font-family: "Playfair Display", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-form{
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.btn-form:hover{
    background-color: transparent;
    border: 1px solid white;
}

.datos{
    display: grid;
    padding: 20px;
    text-align: center;
    grid-template-columns: 1fr;
    align-items: center;
    transition: all .5s linear;
}

.datos i:hover{
    color: #4d4d4d;
}

/* MEDIA QUERIES */

@media (max-width:992px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 0;
    }

    .hero-img {
        text-align: center;
    }
    
    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p {
        font-size: 70%;
    }

    .icons{
        display: none;
    }

    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){
    
    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px; 
    }

    .hero-img img{
        margin: 0 ;
    }   

    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #21221fce;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5s ease;
    }

    .navlist a{
        margin: 7px 0;
        display: block;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }
}